{
    "python.pythonPath": "C:\\Python383\\python.exe",
    "python.linting.pylintEnabled": false,
    "python.linting.flake8Enabled": true,
    "python.linting.enabled": true,
    "python.linting.mypyEnabled": true,
    "python.linting.pylintArgs": [
        "--rcfile=setup.cfg"
    ],
    "jupyter.jupyterServerType": "local"
}